% if config["environment"]=="vsphere":
vm_template: ${config["os_templates"]["os_windows"]["os_winserver"]}
% elif config["environment"]=="opennebula":
nebula_template_name: ${config["os_templates"]["os_windows"]["os_winserver"]}
% endif
