<VirtualHost *:80>
  ServerAdmin webmaster@localhost
  <FilesMatch \.php$>
    SetHandler application/x-httpd-php
  </FilesMatch>
  <Directory />
          Options FollowSymLinks
          AllowOverride None
  </Directory>
  DocumentRoot /opt/observium/html/
  ServerName observium
  CustomLog /opt/observium/logs/access_log combined
  ErrorLog /opt/observium/logs/error_log
  <Directory /opt/observium/html/>
          DirectoryIndex index.php
          Options Indexes FollowSymLinks MultiViews
          AllowOverride All
          Require all granted
  </Directory>
  ServerSignature On
</VirtualHost>